<div class="regards" style="align-items: right;">
  <p>Thanks,</p>
  <p>h_k Team</p>
</div>
</div>
<div class="footer">
  <p>Contact Us: <a href="mailto:support@h_k.lk">support@h_k.lk</a></p>
  <p>2023 &copy; h_k. All rights reserved</p>
</div>
</div>
</body>

</html>
