<html>
  <head>
    <meta charste="UTF-8" />
    <title>h_k</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      id="viewport"
    />

    <link
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700,800"
      rel="stylesheet"
    />
    <%- include('./styles'); %>
  </head>

  <body>
    <div class="container">
      <div class="header"></div>
      <div class="content"></div>
    </div>
  </body>
</html>
